/* Globals */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  background-color: rgb(0,0,37);
}

.loader-wrapper {
  width: 95%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-shapes {
  height: 400px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.box {
  width: 100px;
  height: 100px;
  margin: 15px;
}

.one {
  background-color: rgb(0,93,162);
}

.two {
  background-color: rgb(0, 92, 162);
}

.three {
  background-color: rgb(0,93,162);
}

.four {
  background-color: rgb(0,93,162);
}
